@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,600,700,800|Quicksand:300,400,500,600,700|Raleway:100,200,300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');


// ---------------------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #5C0366;
    background-image:
        radial-gradient(
        2rem,
            rgba(255, 204, 51, 0.2),
            rgba(4,0,0,0.9)
        );
    overflow:hidden;
    height:100%;

    font-family: 'Quicksand', sans-serif;
    color:#555;
}



@-webkit-keyframes red{
    0% {-webkit-transform: rotate(0deg) scale(1,1);}
    50% {-webkit-transform: rotate(-180deg) scale(1.6,1.6);}
    100% {-webkit-transform: rotate(-360deg) scale(1,1);}
}
@-moz-keyframes red{
    0% {-moz-transform: rotate(0deg) scale(1,1);}
    50% {-moz-transform: rotate(-180deg) scale(1.4,1.4);}
    100% {-moz-transform: rotate(0deg) scale(1,1);}
}

#red{
    z-index: -4;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;

    -moz-animation:25s red 5s linear infinite;
    -webkit-animation:25s red 5s linear infinite;
    animation: 25s red 5s linear infinite;

    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(248, 192, 0, .5), rgba(165, 138, 58, 0) 100%);
    background-image: -webkit-radial-gradient(circle closest-side at 50% 50%, rgba(248, 192, 0, .5), rgba(255, 231, 158, 0) 100%);      
    background-image: radial-gradient(circle closest-side at 50% 50%, rgba(248, 192, 0, .5), rgba(255, 231, 158, 0) 100%);         
}


.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    width: 100%;
    height: 100vh;
}

body h1 {
    margin-top: 1.1em;
    margin-bottom: 30px;
    margin-left: -50px;

    font-family: 'Hind', sans-serif;
    font-size: 4em;
    font-weight: 600;
    text-align: center;

    color: white;

    opacity: 0.9;
     -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
        -ms-animation: fadein 2s ease-in; /* Internet Explorer */
         -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
            animation: fadein 2s ease-in;

    z-index: 2;
}

#of-blue {
    color: #FFC619;
    opacity: 0.9;
}

// ---------------------------------------------------------------------------------
// VISUALIZER
// ---------------------------------------------------------------------------------

#viz-canvas {
    position: fixed;
    bottom: 20%;
    left: 47.5%;
    width: 100%;
    height: 100%;

    z-index: 1;
    opacity: .7;

    filter: blur(0.7px);
      animation: move 3s infinite, move-left 3s infinite blink 4s infinite;
    transform-origin: 50% 90%;

}

.viz-on {

    display: initial;

}

.viz-off {
    
    display: none;
    transition: 0.4s;
}


.viz-on:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 100px;
    background-color: red;
}

// SKEW ANIMATION

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(0.5deg, 4deg);
    }
    50% {
        transform: skew(1deg, 1deg);
    }
    100% {
        transform: skew(0deg, 0deg);
    }
}

.svg-shape {
    display: flex;
    justify-content: center;
    
    padding-top: 100px;

    z-index: 2;
}


// BUTTONS

.main-button  {
    display: flex;
    justify-content: center;

    margin: 0 auto;
}

#select-button {
    position: absolute;
    width: 15rem;
    top: 80%;

    padding: 0.5rem;

    color: black;

    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;

    border-radius: 10px;

    opacity: 0.8;
    z-index: 5;

    cursor: pointer;
}

#select-button:hover {
    color: white;
}

.play-button {
    background-color: rgba(255,217,102,0.9);
}

.stop-button {
    background-color: #B38809;
    transition: 0.4s;
}
.play-button:hover, .stop-button:hover {
    color: white;
    border: 1px solid white;
}

.play-button:hover {
    color: #5C0366;
    background-color: #FFC619;
    transition: 0.2s;
}
.stop-button:hover {
    background-color: #999;
    transition: 0.2s;
}

.input-wrapper-play, .input-wrapper-stop {
    position: relative;
    width: 200px;
}
 
input:visited, input:focus {
    outline: none;
}

button:active, button:focus {
    outline: none;
    border: none;
}

// EXPLANATION

.button-explanation {
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
    opacity: 0;

    color: white;
    z-index: 2;
}

.intro-explanation {
    position: relative;
    top: 50%;
    width: 70%;

    margin-left: 15%;
    margin-right: 15%;

    font-size: 2em;
    letter-spacing: 0.2px;
    line-height: 1.2em;
    text-align: left;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    opacity: 0;

    color: white;
    z-index: 2;

    -webkit-animation-name: fadeInOut;
     -moz-animation-name: fadeInOut;
      -ms-animation-name: fadeInOut;
       -o-animation-name: fadeInOut;
    animation-name: fadeInOut;

    -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
       -o-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-animation-duration: 20s;
     -moz-animation-duration: 20s;
      -ms-animation-duration: 20s;
       -o-animation-duration: 20s;
    animation-duration: 20s;

    -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
      -ms-animation-iteration-count: 1;
       -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

span#yellow-text {
    color: #FFD966;

    font-weight: 700;
}

.audio-explanation {
    position: absolute;

    bottom: 5%;
    width: 70%;

    margin-left: 15%;
    margin-right: 15%;

    font-size: 1em;
    font-style: italic;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 0.5px 0.5px rgba(0,0,0,0.5);

    opacity: 0;
    color: lightgrey;
    z-index: 3;

    -webkit-animation-name: fadeInOut;
     -moz-animation-name: fadeInOut;
      -ms-animation-name: fadeInOut;
       -o-animation-name: fadeInOut;
    animation-name: fadeInOut;

    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    -ms-animation-delay: 13s;
    -o-animation-delay: 13s;
    animation-delay: 13s;

    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    -ms-animation-duration: 12s;
    -o-animation-duration: 12s;
    animation-duration: 12s;
}




// ---------------------------------------------------------------------------------
// ABOUT OVERLAY
// ---------------------------------------------------------------------------------
#open-about {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    font-size: 2em;
    cursor: pointer;

    z-index: 3;
    opacity: 0.6;
}

#open-about-bg:hover {
    fill: #B38600;
    transition-timing-function: ease-out;
    transition: 0.4s;
}

#about-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 0%;
    width: 100%;
    
    background-color: rgba(48, 48, 48, 0.9);
    overflow-y: hidden;
    transition: 0.5s;

    z-index: 20;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 60%;

    margin-left: 20%;
    margin-right: 20%;
        font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;

    color: white;
}

.overlay-content > p {
    padding: 1rem 0;
}

#about-overlay h1 {
    margin-bottom:2rem;

    font-family: 'Hind', sans-serif;
    font-size: 3em;

}

#about-overlay a {
    color: #FFD966;
    text-decoration: none;
    transition: 0.4s;
}


a#inner-overlay-link {
    display: inline;
    font-size: 1.2em;
}

#about-overlay a:hover, #about-overlay a:focus {
    color: #f1f1f1;
}

#about-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#about-footer {
    font-size: 1em;
    font-weight: 200;
    color: lightgray;
}

.connect-list  {
    display: flex;
    justify-content: center;
    align-content:center;

    width: 250px;
    margin: 0 auto; 
}

.connect-list a {
    margin-top: -10px;
    margin-bottom: 10px;
}

// Font Awesome Icon
i {

    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    font-size: 1.5em;
}



// ---------------------------------------------------------------------------------
// ANIMATIONS
// ---------------------------------------------------------------------------------

// FADEIN


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

// FADEINOUT

@keyframes fadeInOut {
    from {
      animation-timing-function: ease;
      opacity: 0;
    }
    50% {
      animation-timing-function: ease-in;
      opacity: 1;
    }
    to {
      animation-timing-function: ease-out;
      opacity: 0;
    }
}

// ---------------------------------------------------------------------------------
// MEDIA QUERIES
// ---------------------------------------------------------------------------------


@media only screen and (max-width: 710px) {
    * {
        transition: 0.4s;
    }

    body h1 {
        margin-top: 0.7em;

        font-size: 2em;
    }
    .intro-explanation {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.6em;
    }

    #footer-logo {
        opacity: 0 !important;
    }

    .main-button  {
        width: 23rem;
    }
}

// Small Screens

@media screen and (max-width: 450px) {
    * {
        transition: 0.4s;
    }

    body h1 {
        margin-top: 0.5em;

        font-size: 2em;
    }

    .intro-explanation {
        font-size: 1em;
    }


  #about-overlay {overflow-y: auto;}
  #about-overlay a {font-size: 20px}
  #about-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


// FLAME ANIMATION

@keyframes move{
  0%{ transform: skewX(2deg) skewY(5deg)}
  50%{ transform: skewX(-2deg) skewY(-0deg)}
  100%{ transform: skewX(2deg) skewY(5deg)}
}
@keyframes move-left{
  50%{transform: skewX(3deg);}
}
@keyframes flame-up{
  50% { box-shadow:
      0 0px 0px 3px white,
      0 -38px 1px 2px white, 
      0 -41px 2px 3px gold, 
      0 -50px 5px 4px orange,  //orange top
      0 0px 150px 10px orange, //orange global
      0 -10px 2px 4px white,
      0 -5px 3px 3px white;
  }
}
@keyframes blink{
  50% {opacity: 0.95;}
}